html{
  background-color: rgb(2, 78, 78);
}
.container-fluid{
  background-color: rgb(2, 78, 78);
}
input[type='text']{
  background: transparent;
  color: white;
}

input[type='text']:focus{
  background: transparent;
  color: white;
}